<form *ngIf="recipe" class="text-center p-5 form-layout" #editForm="ngForm" (ngSubmit)="editHandler(editForm.value)">
    <p class="h4 mb-4">Edit Recipe</p>

    <input [ngModel]="recipe.meal" #meal="ngModel" type="text" name="meal" class="form-control mb-4">

    <input [ngModel]="recipe.ingredients.join(' ')" #ingredients="ngModel" type="text" name="ingredients" class="form-control mb-4">

    <textarea [ngModel]="recipe.prepMethod" #prepMethod="ngModel" type="text" name="prepMethod" class="form-control mb-4"></textarea>

    <textarea [ngModel]="recipe.description" #description="ngModel" type="text" name="description" class="form-control mb-4"></textarea>

    <input [ngModel]="recipe.foodImageURL" #foodImageURL="ngModel" type="text" name="foodImageURL" class="form-control mb-4">

    <select [ngModel]="recipe.category" #category="ngModel" name="category">
        <option>Vegetables and legumes/beans</option>
        <option>Fruits</option>
        <option>Grain Food</option>
        <option>Milk, cheese, eggs and alternatives</option>
        <option>Lean meats and poultry, fish and alternatives</option>
    </select>

    <input [ngModel]="recipe.likesCounter" #likesCounter="ngModel" name="likesCounter" style="display: none">

    <button class="btn btn-danger w-25 m-auto my-4 btn-block" [disabled]="editForm.invalid">Edit it</button>

</form>